
.rrcResults {
	width:100%;
}

.rrcResults tbody td {
	padding:0 0 20px 0;
}

.rrcErrorType {
	
}

.rrcExpOutput {
	
}

.rrcProgOutput {
	
}

.rrcInput {
	
}

#rrcLog {
	overflow-y: scroll;
	overflow-x: ;
	width:100%;
	height:300px;
	margin:0 0 30px 0;
	display: block;
	background: black;
	color: white;
	font-family: Monospace;
	padding: 10px 20px;
	line-height: 13pt;
	font-size: 9pt;
}

#rrcContainer {
	margin:20px 0 0 0;
}