
.rrcResults {
	width:100%;
}

.rrcResults tbody td {
	margin:0 0 20px 0;
}

.rrcErrorType {
	width:100px;
}

.rrcExpOutput {
	width:100px;
}

.rrcProgOutput {
	width:100px;
}

.rrcInput {
	width:100px;
}

.rrcLog {
	overflow: scroll;
	width:100%;
	height:300px;
	margin:0 0 30px 0;
}