body {
	padding-top: 80px;
}
a, a:hover, a:focus, a:link, a:visited {
	color: #002143;
}
input[type="checkbox"], input[type="radio"] {
	width: inherit;
	height: inherit;
}
.form-control {
	margin-top: 10px;
}
.checkbox + label, .checkbox, .radio + label, .radio {
	margin-left: 25px;
}
label .checkbox, label .radio {/*edit user has a different nesting...*/
	margin-left: 0;
}
table:not(.scoreboard):not(.legend table) {
	width: 100%;
}
th, .scoreboard th a, h3.teamoverview {
	background-color: #002143;
	color: #ffffff;
	font-size: inherit;
	font-weight: bold;
}
th, h3.teamoverview {
	padding: 10px;
}
#submitform .form-control, input#comment {
	width: inherit;
	height: inherit;
	display: inline;
}
td, th {
	vertical-align: middle;
}
.scoreboard td, .scoreboard th {
	border-color: #002143;
}
.container #submitlist, .container #clarlist {  
        position: inherit;
        float: left;
        width: 49%;
        margin-bottom: 10px;
}
.container #submitlist {
        float: left;
}
.container #clarlist {  
        float: right;
}
.container #lastmod {
	display: none;
}
.container #djlogo {
        position: inherit;
        float: right;
}
.container #teamscoresummary {
	margin-top: 0px;
}
.dropdown-menu {
        left: -1px;
}


p {
    text-align:justify;
}

#login-container {
  width: 250px; 
  float: right; 
  margin: 70px 0px 20px 20px;
  background: #002143;
  padding: 0px 20px 20px 20px; 
  color:#ffffff;  
}

#login-container .form-control {
  margin-top: 0px;  
}

#login-container input {
  background-color:#ffffff;
  color:#002143;
}

.indent_list li{
  text-indent: -1em; 
  padding-left: 1em;
}

/* Conpra, Contest 24: Christmas Week of Conpra WS14/15 */
@font-face {
	font-family:"Frostbitten";
	src: url("../fonts/frostbitten.ttf");
}
.tumjudge-conpra.contest-24 h1, .tumjudge-conpra.contest-24 h2, .tumjudge-conpra.contest-24 h3, .tumjudge-conpra.contest-24 h4, .tumjudge-conpra.contest-24 #menutop *, .tumjudge-conpra.contest-24 .nodata, .tumjudge-conpra.contest-24 .scoreboard td, .tumjudge-conpra.contest-24 .scoreboard th {
        font-family: "Frostbitten";
}
.tumjudge-conpra.contest-24 .scoreboard .score_correct {
        background-image: url('../images/stars_silver.png') !important;
        background-position: 0px -10px !important;
}
.tumjudge-conpra.contest-24 .scoreboard .score_first {
        background-image: url('../images/stars_gold.png') !important;
}

/* Conpra, Contest 42: Halloween Week of Conpra WS15/16 */
.tumjudge-conpra.contest-42 th, .tumjudge-conpra.contest-42 .scoreboard th a, .tumjudge-conpra.contest-42 h3.teamoverview, .tumjudge-conpra.contest-42 #login-container, .tumjudge-conpra.contest-42 .dropdown-menu > .active > a, .tumjudge-conpra.contest-42 .dropdown-menu > .active > a:hover, .tumjudge-conpra.contest-42 .dropdown-menu > .active > a:focus, .tumjudge-conpra.contest-42 .navbar-default, .tumjudge-conpra.contest-42 .dropdown-menu .header {
	background-color: #cc6600;
	color: #000000;
}
.tumjudge-conpra.contest-42 .scoreboard .score_correct {
        background-image: url('../images/pumpkin.png') !important;
	color: #ffffff !important;
}
.tumjudge-conpra.contest-42 .scoreboard .score_first {
        background-image: url('../images/pumpkin2.png') !important;
}
.tumjudge-conpra.contest-42 .navbar-default {
	background-image: url('../images/bats.png') !important;
	background-repeat: repeat;
}
.tumjudge-conpra.contest-42 .navbar {
        border-bottom-color: #000000;
}
.tumjudge-conpra.contest-42 .brand {
        background-color: #000000;
}

/* Conpra, Contest 51: Christmas Week of Conpra WS15/16 */
@font-face {
	font-family:"Frostbitten";
	src: url("../fonts/frostbitten.ttf");
}
.tumjudge-conpra.contest-51 h1, .tumjudge-conpra.contest-51 h2, .tumjudge-conpra.contest-51 h3, .tumjudge-conpra.contest-51 h4, .tumjudge-conpra.contest-51 #menutop *, .tumjudge-conpra.contest-51 .nodata, .tumjudge-conpra.contest-51 .scoreboard td, .tumjudge-conpra.contest-51 .scoreboard th {
        font-family: "Frostbitten";
}
.tumjudge-conpra.contest-51 .scoreboard .score_correct {
        background-image: url('../images/stars_silver.png') !important;
        background-position: 0px -10px !important;
}
.tumjudge-conpra.contest-51 .scoreboard .score_first {
        background-image: url('../images/stars_gold.png') !important;
}

