body {
	padding-top: 70px;
}
a, a:hover, a:focus, a:link, a:visited {
	color: #002143;
}

.navbar-default {
	background-color: #002143;
}
.navbar > .container .navbar-brand, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default a, .navbar-default a:hover, .navbar-default a:focus, .navbar-default .navbar-text, #timeleft {
	color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #002143;
	background-color: #ffffff;
}
.dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #002143;
}

/* Contest 24: Christmas Week of Conpra WS14/15 */
@font-face {
	font-family:"Frostbitten";
	src: url("../fonts/frostbitten.ttf");
}
.contest-24 h1, .contest-24 h2, .contest-24 h3, .contest-24 h4, .contest-24 #menutop *, .contest-24 .nodata, .contest-24 .scoreboard td, .contest-24 .scor
        font-family: "Frostbitten";
}
.contest-24 .scoreboard .score_correct {
        background-image: url('../images/stars_silver.png') !important;
        background-position: 0px -10px !important;
}
.contest-24 .scoreboard .score_correct.score_first {
        background-image: url('../images/stars_gold.png') !important;
}